.progress-pie {
    position: relative!important;
    top: 0;
    left: 50%;
    margin: 0 0 0 -45px;
}

.progress-pie .progress-pie-chart {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}

.progress-pie .progress-pie-chart.gt-50 {
    background-color: #1ECD97;
}

.progress-pie .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    width: 90px;
    height: 90px;
    clip: rect(0, 90px, 90px, 45px);
}
.progress-pie .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    width: 90px;
    height: 90px;
    clip: rect(0, 45px, 90px, 0);
    background: #1ECD97;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}
.progress-pie .gt-50 .ppc-progress {
    clip: rect(0, 45px, 90px, 0);
}
.progress-pie .gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 90px, 90px, 45px);
    background: #E5E5E5;
}

.progress-pie .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 80px/2);
    top: calc(50% - 80px/2);
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    display: table;
}
.progress-pie .ppc-percents .percent {
    display: block;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
    clear:both;
}

.progress-pie .ppc-percents .description {
    font-size: .4em;
    line-height: 0.4em;
}

.progress-pie .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
