.product-top-selling {

}

.product-top-selling h1 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-top-selling-item {
    width: 100;
    display: table;
    clear: both;
    margin-top: 8px;
    padding-bottom: 10px;
    
}

.product-top-selling-item:last-child {
    border-bottom: none;
}

.product-top-selling-item .product-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.product-top-selling-item.is-first .product-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700!important;
}

.product-top-selling-item .product-meta {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
}

.product-top-selling-item .product-meta span {
    font-weight: 100;
    margin-right: 10px;
}

.product-top-selling-item .product-image {
    width: 140px;
    height: 80px;
    float: left;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
}

.product-top-selling-item .product-image img {
    width: 100%;
}

.product-top-selling-item .product-content {
    width: calc(100% - 150px);
    float: left;
    display: inline-block;
}
