:root {
    --sidebar-width: 240px;
    --full-height: 100vh;
    --sidebar-dark: #666;
    --sidebar-dark-active: #222;
}


.dropdown {

}

.dropdown.content {
    width: var(--sidebar-width);
    background-color: #fff;
    height: var(--full-height);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    animation-duration: 500ms;
      animation-name: slidein;

}

.dropdown.backdrop {
    width: 100vw;
    height: var(--full-height);
    background-color: rgba(0,0,0,.2);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 998;
    animation-duration: 500ms;
      animation-name: backdrop;
}

.dropdown.item {
    width: var(--sidebar-width);
    padding: 8px 16px;
    clear: both;
    display: grid;
    text-align: left;
    grid-auto-columns: min-content;
    text-decoration: none;
    transition: 500ms;
}


.dropdown.item .icon {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    width: 52px;
    grid-row: 1;
    grid-column: 1;
    color: var(--sidebar-dark);
}

.dropdown.item .label {
    grid-row: 1;
    grid-column: 2;
    line-height: 22px;
    height: 22px;
    color: var(--sidebar-dark);
    width: calc(100% - 52px);
    white-space: nowrap;
}

.dropdown.item.is-active,
.dropdown.item:hover {
    background-color: #eee;
}

.dropdown.item:hover .icon,
.dropdown.item.is-active .icon {
    color: var(--blue);
}

.dropdown.item.is-active .label,
.dropdown.item:hover .label {
    color: var(--sidebar-dark-active);
}


.dropdown.bar {
    width: var(--sidebar-width);
    padding: 16px;
    display: grid;
    grid-auto-columns: min-content;
}

.dropdown.icon {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    width: 52px;
    grid-row: 1;
    grid-column: 1;
}

.dropdown.brand {
    grid-row: 1;
    grid-column: 2;
}

.dropdown.brand img {
    height: 24px;
    width: auto;
}




@keyframes slidein {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

@keyframes backdrop {
    from {
        background-color: rgba(0,0,0,0);
    }

    to {
        background-color: rgba(0,0,0,.2);
    }
}
